.div-list-item {
  height: 50px;
  display: flex;
  flex-direction: row;
  /* align-items: baseline; */
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px;
  margin-top: 3px;
  background-color: white;
  font-size: 18px;
}

.span-delete {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  background-color: white;
  border: 1px solid #dbdbdb;
  color: gray;
  align-self: center;
}

.icon:hover {
  background-color: #ccc;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  color: gray;
  align-self: center;
}
